.add-customer-container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  padding: 2.5rem;

  .title {
  }

  .form {
    width: 80%;
    padding: 1rem;
    margin: 0 auto;

    .input-form {
      padding: 2.5rem;
      border: solid 1px #e8e8e8;
      border-radius: 7px;

      .input-form-row {
        margin: 1rem 0;
        display: flex;

        .input-form-item {
          flex: 1;
        }
        .input-form-item:nth-child(2) {
          margin-left: 1rem;
        }
        .input-form-item:nth-child(3) {
          margin-left: 1rem;
        }

        .input-form-item-custom-group {
          display: flex;

          Button {
            // font-size: 0.5rem;
            margin-left: 0.25rem;
          }
        }
      }
    }
    .buttons {
      display: flex;
      justify-content: flex-end;
      padding: 0.25rem 0;

      Button:nth-child(1) {
        margin-right: 0.25rem;
      }
    }
  }
}
