.reservation-calendar-container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  padding: 2.5rem;

  .title {
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    padding: 0.25rem 0;

    Button:nth-child(1) {
      margin-right: 0.25rem;
    }
  }
}
.fc {
  // border: solid 1px #e8e8e8;
  // padding: 1rem;

  .fc-header-toolbar.fc-toolbar {
    padding-top: 1rem;
    border-top: solid 3px #f04d4d;
  }
}
