.join-container {
  display: flex;
}
.join-form {
  margin: 2.5rem auto;
  display: flex;
  flex-flow: column;
  border: solid 1px #e8e8e8;
  padding: 1.5rem;
  border-radius: 7px;

  .join-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .join-input {
    margin: 0.5rem 0;

    .join-input-field {
      width: 25rem;
    }
  }
  .join-button {
    margin: 0.5rem 0 0.5rem 0;
  }
}
.join-box {
}
